
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family:'Open Sans', sans-serif;
}

main {
    flex: 2;
    .hr{
        width: 150px;
        height: 2px;
        background-color: cadetblue;
        border: 0;
        margin: 40px auto;
    }
}

section {
    max-width: 1100px;
    margin: 50px auto;
}
